
body{
    margin: 0;
    background-color:antiquewhite;
}

#todo-app{
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}

#todo-heading{
    font-family: sans-serif;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.about {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(17, 15, 15);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
  }
  
  input[type=text]::-webkit-input-placeholder {
    color: rgb(211, 174, 139);
    font-size: 17px;
  }


  #categ-date-div{
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  #category-div {
      width:48%;
  }

  select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
    color: rgb(49, 49, 46);
  }
 #date-div{
     width: 48%;
 }

  input[type=date]{
    width: 100%;
    padding: 11px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
    font-size: 17px;
    color: rgb(49, 49, 46);
  }

  #add-button-div{
      width: auto;
      height: auto;
      text-align: center;
  }

  #plus{
      margin-right: 5px;
  }
  #add-button{
      padding: 15px 20px;
      width: 180px;
      background-color: rgb(131, 124, 124);
      text-align: center;
      border: none;
      color: honeydew;
      font-size:18px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
  }

 

.list-items-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

input[type=checkbox]{
    width: 16px;
    height: 16px;
}

.list-description{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 69, 69);
    font-size: 20px;
}

#calendar{
    margin: 5px;
    margin-left: 35px;
    color: rgb(170, 153, 153);
}

.list-date{
    font-size: 15px;
    color: rgb(170, 153, 153);
}

.list-category{
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-right: 40px;  
    margin-top: 10px;
    font-size: 15px;
    background-color: blue;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


#delete-button-div{
    text-align: center;
    width: auto;
    margin:10px;
}

#trash{
   margin-right: 5px;
}

#delete-button{
    margin-left: 10px;  
    padding: 15px 15px;
    width: 200px;
    background-color:rgb(207, 32, 32);
    text-align: center;
    border: none;
    color: honeydew;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 200px;
    cursor: pointer;
}

